/* Taustan määrittelyt */
.kokosivu {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

header {
  color: white;
  font-family: "Montez";
  font-size: x-large;
  background-image: url("../kuvat/rohkelikko.jpg") ;
text-align: center;
padding: 70px; 
}

.tausta {
    min-height: 100dvh;
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
}

 /* Oma fontti */
.montez-regular {
  font-family: "Montez", cursive;
  font-weight: 400;
  font-style: normal;
}

.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

 /* Navigointi */
.navigointi {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  display: flex;
  align-items: center;
}

.navigointi li {
  margin-right: 20px;
}

 /* Alasvetovalikko */
 .alasvetovalikko {
   background-color: black;
   font-family: "Montez";
  color: white;
  padding: 20px 30px;
  font-size: 26px;
  border: none;
  cursor: pointer;
}

.valikonsisalto {
    display: none;
    position: absolute;
z-index: 999;
  background-color: #400203;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.valikonsisalto a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navigointi li a {
  display: block;
  color: white;
  font-family: "Schoolbell", cursive;
  font-size: 18px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigointi li a:hover {
  background-color: #aa7502;
  border-radius: 5px;
}

.dropdown:hover .valikonsisalto {
  display: block;
}

.alasvetovalikko:hover {
    background-color: #aa7502;
}

  /* Hakukenttä */
.haku {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.haku form {
  display: flex;
  align-items: center;
}

.haku input[type="text"] {
    height: 22px;
  padding: 9px;
  border-radius: 5px 0 0 5px;
  border: none;
}

.haku button {
  width: 40px;
  height: 40px;
  background-image: url(../kuvat/suurennuslasi.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

  /* Korttipohja */
  .kortti {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgb(218, 218, 218);
    box-shadow: 0 4px 10px rgba(64, 2, 3, 0.4), 0 8px 24px rgba(64, 2, 3, 0.25);
    font-family: "Schoolbell", cursive;
  }

   /* Korttien asettelut */
.kortti-rivi {
    display: flex;
    gap: 20px;
}
.oikeakortti {
  flex: 1;
  margin-right: 20px;
}
.keskimmainenkortti {
    flex: 0.5;
}
.vasenkortti {
flex: 1;
margin-left: 20px;
}

 /* Kuvan asetukset */
  .kuva {
    max-width: 100%;
    height: auto;
    width: auto;
  }

  /* Hahmokortin asetukset */
#hahmoKortti {
  position: relative;
  overflow: hidden; 
}
 
#hahmoKortti img {
  position: absolute;
  max-width: 300px;
  max-height: 800px;
 bottom: 50px;
 right: 50px;
  border-radius: 8px;
}

p {
    font-size: 20px;
}

  /* Hakutuloskortin asetukset */
#hakuTulokset {
  max-height: 800px;   
  overflow-y: auto;        
  padding-right: 10px;    
}

  /* Responsiivisuus */
  @media (max-width: 768px) {
    .kortti-rivi {
        flex-direction: column;
        gap: 20px;
    }
 
  .vasenkortti,
  .keskimmainenkortti,
  .oikeakortti {
    flex: none;
    width: 100%;            
    margin: 0;               
  }

  #hahmokortti img {
    position: static;
    max-width: 100%;
    height: auto;
  }
  }

  @media (max-width: 768px) {
    .navigointi {
        flex-direction: column;
        align-items: flex-start;
    }
  .haku {
    width: 100%;
  }

}
